@model List<HotelWEB.Models.BookingModel>

@{ ViewBag.Title = "Index"; }

<div class="row mt-3">
    <div class="col-xs-3">
        <h2>All Bookings</h2>
    </div>
    <div class="col-xs-1 col-xs-offset-8">
        <h1>
            @Html.ActionLink(" ", "DateSettings", null,
                               new { @class = "glyphicon glyphicon-plus", style = "color:SeaGreen" })
        </h1>
    </div>
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model[0].BookingGuest.FullName)
            </th>
            <th>
                @Html.LabelFor(model => model[0].EnterDate)
            </th>
            <th>
                @Html.LabelFor(model => model[0].LeaveDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            if (ViewBag.Number == 0) { ViewBag.Number = 1; } else { ViewBag.Number = 0; }
<tr style="background-color:@(ViewBag.Number == 1 ? "white" : "rgb(248,248,255)")">
    <td>
        @Html.Raw(room.BookingGuest.FullName)
    </td>
    <td>
        @Html.Raw(room.EnterDate)
    </td>
    <td>
        @Html.Raw(room.LeaveDate)
    </td>
    <td>
        @if (room.Set == "Checked In")
         {
            @Html.ActionLink("Check Out", "CheckOut", new
            {
                id = room.Id
            }) }
            else if (room.Set != "Checked Out")
            {
                @Html.ActionLink("Check in", "CheckIn", new
            {
                id = room.Id
            })
         }
    </td>
    <td>
        <h4>
            @Html.ActionLink(" ", "Details", new
            {
                id = room.Id
            },
                      new { @class = "glyphicon glyphicon-zoom-in" })
        </h4>
    </td>
    <td>
        <h4>
            @Html.ActionLink(" ", "Edit", new
            {
                id = room.Id
            },
                           new { @class = "glyphicon glyphicon-cog" })
        </h4>
    </td>
    <td>
        <h4>
            @Html.ActionLink(" ", "Delete", new
            {
                id = room.Id
            },
                           new { @class = "glyphicon glyphicon-remove", style = "color:tomato;" })
        </h4>
    </td>
</tr>
}
    </tbody>
</table>
@Html.ActionLink("Money per Month", "MoneyPerMonth")