@model List<HotelWEB.Models.RoomModel>

@{
    ViewBag.Title = "FreeRooms";
}

<h2>FreeRooms</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model[0].Name)
            </th>
            <th>
                @Html.LabelFor(model => model[0].RoomCategory.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
<tr>
    <td>
        @Html.Raw(room.Name)
    </td>
    <td>
        @Html.Raw(room.RoomCategory.Name)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new
        {
            id = room.Id
        })
    </td>
</tr>}
    </tbody>
</table>
@Html.ActionLink("Create", "Create", null, new[] { "btn" })
