@model HotelWEB.Models.CategoryModel
@{
    ViewBag.Title = "Details";
}

<h2 class="mt-3">Category @Model.Id</h2>

<div class="container mt-3">
    <div class="col-xs-9 col-xs-offset-1">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.LabelFor(model => model.Name)
                    </th>
                    <td>
                        @Model.Name
                    </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Price)
                </th>
                <td>
                    @Model.Price&#36
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Bed)
                </th>
                <td>
                    @Model.Bed
                </td>
            </tr>
        </table>
    </div>
</div>

