@model List<HotelWEB.Models.CategoryModel>
@{ ViewBag.Title = "Index"; }

<div class="row mt-3">
    <div class="col-xs-3">
        <h2>All Categories</h2>
    </div>
    <div class="col-xs-1 col-xs-offset-8">
        <h1> @Html.ActionLink(" ", "Create", null, 
                 new { @class = "glyphicon glyphicon-plus", style = "color:SeaGreen" }) </h1>
    </div>
</div>

<table class="table table-hover mt-3">

    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model[0].Name)
            </th>
            <th>
                @Html.LabelFor(model => model[0].Price)
            </th>
        </tr>
    </thead>
             
    <tbody>
        @foreach (var category in Model)
        {
            if (ViewBag.Number == 0) { ViewBag.Number = 1; } else { ViewBag.Number = 0; }
        <tr style="background-color:@(ViewBag.Number == 1 ? "white" : "rgb(248,248,255)")">
            <td>
                @Html.Raw(category.Name)
            </td>
            <td>
                @Html.Raw(category.Price + "&#36");
            </td>
            <td>
                <h4>
                    @Html.ActionLink(" ", "Details", new
                    {
                        id = category.Id
                    },
                    new { @class = "glyphicon glyphicon-zoom-in"})
                </h4>
            </td>
            <td>
                <h4>
                    @Html.ActionLink(" ", "Edit", new
                    {
                        id = category.Id
                    },
                    new { @class = "glyphicon glyphicon-cog" })
                </h4>
            </td>
            <td>
                <h4>
                    @Html.ActionLink(" ", "Delete", new
                    {
                        id = category.Id
                    },
                    new { @class = "glyphicon glyphicon-remove", style = "color:tomato;" })
                </h4>
            </td>
        </tr>
        }
    </tbody>
</table>
