@model HotelWEB.Models.RegisterModel

@{ ViewBag.Title = "Register"; }

<h2 class="mt-4 mb-4">Register</h2>
@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal  container">
        <div class="col-xs-10 col-xs-offset-1 table-bordered border">
            <div class="form-group mt-3">
                <div class="col-xs-2 col-xs-offset-1">
                    <h4>@Html.LabelFor(model => model.FullName)</h4>
                </div>
                <div class="col-xs-8">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control input-lg", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-1">
                    <h4> @Html.LabelFor(model => model.Login)</h4>
                </div>
                <div class="col-xs-8">
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control input-lg", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Login)
                </div>

            </div>
            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-1">
                    <h4> @Html.LabelFor(model => model.Password)</h4>
                </div>
                <div class="col-xs-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-lg", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-1">
                    <h4> @Html.LabelFor(model => model.RepeatPassword)</h4>
                </div>
                <div class="col-xs-8">
                    @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control input-lg", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.RepeatPassword)
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-3 col-xs-offset-6">
                    <input type="submit" action="Create" class="btn btn-primary mb-2" value="Register" />
                </div>
            </div>
        </div>
    </div>}
